# fly.toml app configuration file generated for donations on 2025-10-25T07:44:43-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'donations'
primary_region = 'sjc'

[build]

[http_service]
  internal_port = 3000
  force_https = false
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  
[env]
  QUICKBOOKS_REDIRECT_URI='http://donations.fly.dev/auth/quickbooks/callback'

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
